**/coverage.out
docs/exercises/StudyWork.xlsx
.idea/
*.iml
.vscode/
**/.DS_Store

src/plugin/plugin.so
src/plugin/master
src/plugin/master.exe

src/library/libmylib.so
src/library/libmylib.a
src/library/mylib.o
src/library/main

src/modules/**/client/client
src/modules/**/client.exe
src/modules/**/plugin.so

src/slideconvert/slideconvert
src/slideconvert/slideconvert.exe

docs/*.html

*.z5
*.class

wasm_exec.js
dist/
