**/coverage.out
docs/exercises/StudyWork.xlsx
.idea/
*.iml
.vscode/
**/.DS_Store

plugin/plugin.so
plugin/master
plugin/master.exe

library/libmylib.so
library/libmylib.a
library/mylib.o
library/main
